/* Import Stuff */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600;1,900&display=swap');
@font-face {
    /* Mengimpor font local dan membuat font-family kita sendiri */
    font-family: "glass-n-bloom"; /* Nama font-family */
    src: url("../font/Gloss_And_Bloom.ttf"); /* Sumber font */
}

/* <<<<<<<<<<<< Universal Style >>>>>>>>>>>>>>>*/
/*============= Element Selector =============*/
*{
    /* Menghitung border & padding sebagai bagian dari lebar & tinggi elemen */
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to bottom left, rgba(127,222,238,1) 45%, rgba(59,112,209,1) 100%);
    background-size: 400%;  
    animation: gradient-animation 4s ease infinite alternate;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 80px;
    padding-bottom: 20px;
}

p{
    text-align: justify;
    line-height: 30px;
}

h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: 15px;
    font-size: 50px;
    font-family: glass-n-bloom;
}

img{
    width: 100%;
}

table,
th, 
td{
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th{
    padding: 10px 20px;
}

/*============= Class Selector =============*/
/* Font Class */
.text-200{
    font-weight: 200;
}

.text-300{
    font-weight: 300;
}

.text-500{
    font-weight: 500;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: left;
}

.text-end{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.sub-text{
    font-size: 16px;
}

.highlight{
    display: inline-block;
    background-color: yellow;
}

/* Utility */
.hidden{
    visibility: hidden;
}

/* Icon style */
.fa-angle-down{
    position: absolute;
    right: 20px;
    bottom: 25%;
    font-size: 35px;
    transition: all .4s;
}

.fa-xmark{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: .7;
    font-size: 35px;
}

.fa-rotate-left{
    position: absolute;
    top: 30%;
    right: 3%;
    opacity: .7;
    cursor: pointer;
    animation: rotation1 .4s linear;
}

/* Others */
.main-container{
    margin-top: 0;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 2px 3px 28px -11px rgba(0,0,0,0.45);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 40px;    
    max-width: 1200px;
    border-top-left-radius: 0;
    overflow: hidden;
}

.content-container{
    display: none;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: darkgrey;
    border: none;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 30px;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .1s;
    margin-right: 15px;
}

.tbl-header{
    background-color: rgb(225, 215, 241);
    position: relative;
    cursor: pointer;
}

.tbl-body{
    visibility: collapse;
    transform: scale(0);
    transition: all .4s;
}

.highlight-tbl{
    background-color: rgb(252, 252, 55);
}

.dotted-box{
    padding: 5px;
    border: 1px dashed black;
    border-radius: 5px;
    resize: both;
    overflow: auto;    
}

.code-box{
    padding: 2.5px 5px;
    border-radius: 5px;
    background-color: lightblue;
    display: inline-block;
    font-style: italic;
    margin-bottom: 5px;
}

.col-40{
    width: 40%;
    position: relative;
}

.col-60{
    width: 60%;
}

.link-modal{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.modal-container{
    position: fixed;
    z-index: 2;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0vh;
    opacity: 0;
    transition: all .4s ease-out;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
    width: 1000px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;    
}

.modal-wrapper{
    overflow-y: auto;
    max-height: 100%;
}


/* Dynamic Class */
.content-container.active{
    display: block;
}

.btn.active{
    background-color: white;
}

.modal-container.active{
    height: 100vh;
    opacity: 1;
}

.tbl-body.active{
    visibility: visible;
    transform: scale(1);
}

.fa-angle-down.active{
    transform: rotate(-180deg);
}

.fa-rotate-left.active{
    animation: rotation2 .4s linear;
}

/*============= Animation =============*/
@keyframes gradient-animation {
    0%{background-position:0% 50%}
    100%{background-position:80% 50%}
}

@keyframes rotation1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

@keyframes rotation2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}


/*============= Media Query =============*/
@media screen and (max-width: 414px) {
    body{
        padding: 0 0;
    }
    h1{
        font-size: 30px;
    }
    .btn{
        font-size: 15px;
        padding: 10px 15px;
        margin-right: 5px;        
    }
}